body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(236, 243, 243);
 
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  font-family: poppins, sans-serif;
}
